* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  font-family: sans-serif;
}

main {
  text-align: center;
}

h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

#value {
  display: block;
  font-size: 5rem;
  margin: 1rem 0;
  color: #333;
}

.button-container {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.minus {
  background-color: red;
  color: white;
}
